.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
}

.postInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0.5rem 0 1.5rem 0;

  time {
    display: block;
    font-size: 1rem;
  }

  time, h6 {
    display: flex;
    align-items: flex-end;
    margin: 0.25rem 2.5rem 0 0;
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--info);
  }
  
  img {
    margin-right: 0.25rem;  
  }
}
