.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
}

.posts {
  max-width: 720px;
  margin: 5rem auto 0;

  h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: -0.5px;
    color: var(--heading);
  }

  p {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    color: var(--body);
    margin-top: 0.25rem;
  }

  time {
    display: block;
    font-size: 1rem;
    color: var(--heading);
  }

  time, h6 {
    display: flex;
    align-items: flex-end;
    margin: 0.25rem 0.25rem 0 0;
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--info);
  }
  
  img {
    margin-right: 0.25rem;  
  }

  .authorAndPublicationDate {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.5rem 0 1.5rem 0;
  }
}