.posts {
  max-width: 720px;
  margin: 5rem auto 0;

  h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: -0.5px;
    color: var(--heading);
  }

  p {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    color: var(--body);
    margin-top: 0.25rem;
  }

  .morePosts {
    cursor: pointer;
    margin-top: 2.5rem;

    h4 {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      /* identical to box height */

      text-align: justify;

      /* Highlight */

      color: var(--highlight);

    }
  }
}