.container {
  padding-bottom: 5rem;
}

.bannerImg {
  max-height: 400px;
  width: 100%;
  height: 100%;
}

.post {
  max-width: 720px;
  margin: 5rem auto 0;

  display: flex;
  flex-direction: column;

  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.5px;
    color: var(--heading);
  }

  .heading {
    margin: 3rem 0;
  }
}